{
  "openapi": "3.1.0",
  "info": {
    "title": "Echo Sentiment API",
    "description": "Pay-per-call sentiment analysis API with x402 micropayments (dual-chain Base + Solana).",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://6766587364.lol/api",
      "description": "Main domain API (x402)"
    },
    {
      "url": "https://abstain-eliminate-unison.ngrok-free.dev",
      "description": "Direct API endpoint"
    }
  ],
  "paths": {
    "/v1/sentiment": {
      "post": {
        "summary": "Analyze sentiment of a single text",
        "description": "Returns polarity and confidence. Demands 0.005 USDC via x402.",
        "operationId": "analyzeSentiment",
        "x-payment-info": {
          "intent": "charge",
          "method": "x402",
          "amount": "0.005",
          "currency": "USDC",
          "networks": [
            "eip155:8453",
            "solana"
          ],
          "description": "Per-call sentiment analysis"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sentiment analysis result"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        }
      }
    },
    "/v1/sentiment-report": {
      "post": {
        "summary": "Batch sentiment analysis",
        "description": "0.005 USDC per item via x402.",
        "operationId": "analyzeSentimentBatch",
        "x-payment-info": {
          "intent": "charge",
          "method": "x402",
          "amount": "0.005",
          "currency": "USDC",
          "per": "item",
          "networks": [
            "eip155:8453",
            "solana"
          ],
          "description": "Per-item batch sentiment analysis"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "items": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "items"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch sentiment results"
          },
          "402": {
            "description": "Payment required (x402 challenge)"
          }
        }
      }
    },
    "/v1/sample": {
      "get": {
        "summary": "Free sample sentiment",
        "description": "No payment required.",
        "operationId": "sampleSentiment",
        "responses": {
          "200": {
            "description": "Sample sentiment result"
          }
        }
      }
    },
    "/api/ai/sentiment": {
      "post": {
        "summary": "Paid AI sentiment analysis (Workers AI, x402)",
        "description": "0.005 USDC per call via x402 (Base or Solana). Send payment then retry with x402-receipt header.",
        "operationId": "aiSentiment",
        "x-payment-info": {
          "intent": "charge",
          "method": "x402",
          "amount": 0.005,
          "currency": "USDC",
          "networks": [
            "eip155:8453",
            "solana"
          ],
          "description": "AI sentiment analysis"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "402": {
            "description": "Payment required (x402)"
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ai/classify": {
      "post": {
        "summary": "Paid AI text classification (Workers AI, x402)",
        "description": "0.005 USDC per call via x402.",
        "operationId": "aiClassify",
        "x-payment-info": {
          "intent": "charge",
          "method": "x402",
          "amount": 0.005,
          "currency": "USDC",
          "networks": [
            "eip155:8453",
            "solana"
          ],
          "description": "AI text classification"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "text"
                ]
              }
            }
          }
        },
        "responses": {
          "402": {
            "description": "Payment required (x402)"
          },
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "x-service-info": {
    "categories": [
      "nlp",
      "sentiment",
      "ai"
    ],
    "payment": {
      "protocol": "x402",
      "price_usd": 0.005,
      "networks": [
        "eip155:8453",
        "solana"
      ]
    }
  }
}